body,
html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    width: 100% !important;
    height: 100% !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

hr {
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #BADA55;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
}


/* Navigation */

.navbar-custom {
    padding: 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: #333;
    text-transform: uppercase;
}

.navbar-custom .navbar-brand {
    font-weight: 600;
}

.icon-bar {
    background-color: white !important;
}

navbar .navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent !important;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-custom .navbar-custom . {
    background-color: #BADA55 !important;
    color: #ffffff !important;
}

.navbar-custom .navbar-brand .navbar-custom .navbar-brand {
    outline: 0 !important;
}

.navbar-custom a {
    color: #fff;
}

.navbar-toggle {
    border: 2px solid white !important;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #BADA55;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
    color: #BADA55;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}


/* Home Section */

#intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

#intro .intro-body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}

#intro .intro-body .brand-heading {
    color: #BADA55;
    text-shadow: 0 4px #a13e1a;
}

#intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    #intro {
        height: 100%;
        padding: 0;
    }
    #intro .intro-body .intro-text {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        color: rgba(255, 255, 255, 0.9);
    }
}

.learn-more-btn {
    color: #f6f6f6 !important;
    background: #BADA55 !important;
    border: 0 !important;
    padding: 12px 24px !important;
    margin: 0 8px !important;
    font-size: 18px !important;
    transition: all 0.5s !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    color: #f6f6f6;
    background-color: #a13e1a;
}

.section-title.center {
    padding: 30px 0;
}

.section-title h2,
.section-title.center h2 {
    margin-bottom: 30px;
}


/* content Section */

#content {
    padding: 140px 0;
    background: #f6f6f6;
}

#content .content-text {
    margin-left: 10px;
}

#content H4 {
    font-size: 20px;
}

#content ul {
	padding-left: 5px;
}

#content li {
    margin-bottom: 3px;
    list-style: none;
    padding: 0;
    font-size: 13px;
}

#content li:before {
    content: "✓";
    font-weight: 600;
    padding-right: 10px;
    color: #BADA55;
}

#content i.fa {
    float: left;
    display: block;
    margin-right: 15px;
    color: #fff;
    font-size: 44px;
    text-shadow: 0 0 1px #666;
}

#content img {
    margin-top: 20px;
}

#content p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-container {
    padding: 5% !important;
}


/* Footer Section*/

#footer {
    background: #333;
    color: #777;
    padding: 20px 0;
    text-align: center;
}

#footer a {
    color: #999999;
}

#footer a:hover,
a:focus {
    color: #BADA55;
}

#footer p {
    font-size: 13px;
    margin-top: 10px;
}

table.vertical-center>tbody>tr>td {
    vertical-align: middle;
}

.vertical-margin {
    margin-top: 4px;
    margin-bottom: 4px;
}

.no-display {
    display: none;
}

.main-shadow {
    text-shadow: -1px -1px 5px #000, 1px -1px 5px #000, -1px 1px 5px #000, 1px 1px 5px #000;
}