<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello World!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/js/UIModals.js" th:src="@{/js/UIModals.js}"></script>

    <link rel="shortcut icon" type="image/gif" th:href="@{/img/favicon.ico}" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-paper-plane-o"></i> BESTLIB</a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden"> <a href="#page-top"></a> </li>
                    <!--<li> <a class="page-scroll" href="#content">Könyveink</a> </li>-->
                    <li> <a href="index.html" th:href="@{/index}">Főoldal</a> </li>
                    <li> <a href="book_list.html" th:href="@{/book_list}">Könyveink</a> </li>
                    <!-- Belepes utan lathato menupontok OLVASOKNAK -->
                    <li> <a>|</a> </li>
                    <li> <a href="#team">Adataim</a> </li>
                    <li> <a href="#testimonials">Kölcsönzéseim</a> </li>
                    <!-- Belepes utan lathato menupontok KONYVTAROSNAK -->
                    <!--<li> <a>|</a> </li>
                    <li> <a href="#team">Kölcsönzések</a> </li>
                    <li> <a href="#testimonials">Olvasók</a> </li>-->
                    <!-- Bejelentkezes elott lathato menupontok -->
                    <li> <a>|</a> </li>
                    <li> <a href="#services">Regisztráció</a> </li>
                    <li> <a href="#works">Login</a> </li>
                    <!-- Bejelentkezes utan lathato menupont -->
                    <!--<li> <a href="#works">Logout</a> </li>-->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <div id="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>BEST LIB</h1>
                        <p class="intro-text">Valami gomb</p>
                        <a href="#about" class="btn btn-default learn-more-btn page-scroll">Tudj meg többet</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="section-title text-center center">
                <h2>A projektről valami mutyi</h2>
                <hr></hr>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="img/bg.jpg" class="img-responsive" alt="valami másik kép"></img>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h4>Ide is</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h4>Ide meg még inkább</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam.</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing commodo</li>
                            <li>Duis sed dapibus leo sed dapibus</li>
                            <li>Sed commodo nibh ante bibendum</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <p>Copyright &copy; Projekt eszközök csapat</p>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>

</html>