<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>BESTLIB – Belépés</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" />
  <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" src="../static/js/validator.min.js" th:src="@{/js/validator.min.js}"></script>

  <link rel="shortcut icon" type="image/gif" th:href="@{/img/favicon.ico}" />
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <i class="fa fa-paper-plane-o"></i> BESTLIB</a>
      </div>

      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden"> <a href="#page-top"></a> </li>
          <!--<li> <a class="page-scroll" href="#content">Könyveink</a> </li>-->
          <li> <a href="index.html" th:href="@{/index}">Főoldal</a> </li>
          <li> <a href="book_list.html" th:href="@{/book_list}">Könyveink</a> </li>
          <!-- Belepes utan lathato menupontok OLVASOKNAK -->
          <li> <a>|</a> </li>
          <li> <a href="#team">Adataim</a> </li>
          <li> <a href="borrow_list.html" th:href="@{/borrow_list}">Kölcsönzések</a> </li>
          <!-- Belepes utan lathato menupontok KONYVTAROSNAK -->
          <!--<li> <a>|</a> </li>
              <li> <a href="#testimonials">Olvasók</a> </li>-->
          <!-- Bejelentkezes elott lathato menupontok -->
          <li> <a>|</a> </li>
          <li> <a href="registration.html" th:href="@{/registration}">Regisztráció</a> </li>
          <li> <a href="login.html" th:href="@{/login}">Belépés</a> </li>
          <!-- Bejelentkezes utan lathato menupont -->
          <!--<li> <a href="#works">Logout</a> </li>-->
        </ul>
      </div>
    </div>
  </nav>
  <div id="content">
    <div class="container form-container">
      <div class="row">
        <div class="col-md-6">

          <form class="form-horizontal" role="form" action="" method="POST" th:attr="data-toggle='validator'">
            <fieldset>
              <div id="legend">
                <legend class="form-group ">Belépés</legend>
              </div>
              <div class="form-group control-group">
                <label class="control-label" for="username">Felhasználónév</label>
                <div class="controls">
                  <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" th:attr="data-required-error='Kérjük adja meg felhasználónevét!', required='true'" />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-group control-group">
                <label class="control-label" for="password">Jelszó</label>
                <div class="controls">
                  <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" th:attr="data-required-error='Kérjük adja meg jelszavát!', required='true'" />
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <br/>

              <div class="form-group control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success">Bejelentkezés</button>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div id="footer">
    <div class="container">
      <p>Copyright &copy; Projekt eszközök csapat</p>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
  <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</body>

</html>