<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BESTLIB – Olvasóink</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css"
          th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/js/validator.min.js" th:src="@{/js/validator.min.js}"></script>

    <link rel="shortcut icon" type="image/gif" th:href="@{/img/favicon.ico}"/>
</head>

<body>
<!-- Navigation -->
<nav th:replace="fragments/navbar :: navbar"></nav>


<div id="content">
    <div class="container">
        <div class="starter-template">
            <h1>Olvasóink</h1>
        </div>

        <table id="userListTable" class="table table-hover table-bordered table-striped vertical-center">
            <tr>
                <th class="col-xs-1 text-center">Felhasználó név</th>
                <th class="col-xs-2 text-center">Teljes név</th>
                <th class=" text-center">E-mail</th>
                <th class=" text-center">Telefon</th>
                <th class="col-xs-2 text-center">Cím</th>
                <th class=" text-center">Egyenleg</th>
                <th class="col-xs-2 text-center">Tevékenységek</th>
            </tr>
            <tr th:each="userData : ${userList}" id="user_username_row" th:id="${'user_' + userData.username + '_row'}"
                th:with="balance=${userData.paidAmount - userData.feeAmount}">
                <td class="username" th:text="${userData.username}">felhasználó név</td>
                <td class="fullName" th:text="${userData.fullName}">teljes név</td>
                <td class="email" th:text="${userData.email}">E-mail@bestlib.hu</td>
                <td class="phoneNum text-center" th:text="${userData.phoneNum}">06702229998</td>
                <td class="address text-center" th:text="${userData.address}">1929 Budapest, XY utca, 21.</td>
                <td class="balance text-center" th:text="${balance + ' HUF'}">–300 HUF</td>
                <td class="text-center">
                    <form id="payForm_username" th:id="${'payForm_' + userData.username}" role="form"
                          th:attr="data-toggle='validator'" th:action="@{/user_list}" method="POST">
                        <div class="input-group form-group">
                            <input type="number" id="payAmount_username" name="payAmount_username"
                                   th:id="${'payAmount_' + userData.username}"
                                   th:name="${'payAmount_' + userData.username}" class="form-control"
                                   th:attr="min=1, required=true"/>
                            <span class="input-group-addon">HUF</span>
                        </div>
                        <button type="submit" class="btn btn-warning btn-sm">Befizetés</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>

</html>